{% extends 'layout/layout.html' %}
{%load static%}

{%block content%}
<head>
    <link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}">
</head>
    <div class="ant-col ant-col-20 css-t77d8m">
        <section id="user-profile">
            <h2 id="user-name">
                {{ member.name }}
            </h2>
            <ul id="profile-detail">
                <li class="profile-detail-title">
                    매너 온도
                    <span class="profile-detail-count">{{ mTemper }}˚C</span>
                </li>
            </ul>
            <div id="profile-image">
                <img src="/media/{{member_img.upload_file}}/" alt="">
            </div>
        </section>
        <section id="user-filter">
            <ul>
                <li><a href="/member/profile" class="active">판매물품</a></li>
                <li><a href="/member/profile/reviews" class="">거래 후기</a></li>
                <li><a href="/member/profile/manner" class="">매너 칭찬</a></li>
            </ul>
        </section>
        <div class="ant-row listWrap css-euacx" style="margin-left: -10px; margin-right: -10px; row-gap: 10px;">
            {% for b in boardList %}
            <div class="ant-col col css-t7ixlq e312bqk0" style="padding-left: 10px; padding-right: 10px;">
                <a class="css-8rmnao">
                    <div class="css-17j97b9">
                        <div class="thumbWrap">
                            <div class="css-jib2h7 img" name="{{ b.board_status }}">
                                {%for f in boardFile%}
                                    {%if b.bs_idx == f.upload_id %} 
                                    <a href="/board/detail/?no={{ b.bs_idx }}">
                                        <div class="{{ b.board_status }}">
                                            <img class="css-c1pwq5" src="/media/{{f.upload_file}}/">
                                        </div>
                                    </a>
                                    {%endif%}
                                {%endfor%}
                            </div>
                            <div class="priceTxt">{{ b.price }}</div>
                            <div class="titleTxt"><span class="css-5uwdmz">{{ b.title }}</span></div>
                            <div class="registInfo"><span style="width: 50px;">{{b.upload_time | date:'Y-m-d'}}</span><span style="font-size:12px; margin-left: 27px;">찜{{b.jjim_count}}</span><span style="font-size:12px; margin-left: 10px;">조회수{{b.count}}</span></div>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <div id="no-records">등록한 상품이 아직 없어요!</div>
            {% endfor %}
        </div>
        {% if boardCheck %}
        <div style="text-align: center; margin-top: 10px;">
            {% if boardList.has_previous %}
                <a href="/member/mypage/?page=1"><<</a>
                <a href="/member/mypage/?page={{ list.previous_page_number }}"><</a>
            {% else %}
                << <
            {% endif %}
            {% for page_number in boardList.paginator.page_range %}
                {% if start_page <= page_number and end_page >= page_number %}
                    {% if page_number == boardList.number %}
                        <a href="#" class="page_num">&nbsp;{{page_number}}&nbsp;</a>
                    {% else %}
                        <a href="/member/mypage/?page={{ page_number }}" class="page_num">{{page_number}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if boardList.has_next %}
                <a href="/member/mypage/?page={{ list.next_page_number }}">></a>
                <a href="/member/mypage/?page={{last_page}}">>></a>
            {% else %}
                > >>
            {% endif %}
        </div>
        {% endif %}
{%endblock%}