{% extends 'layout/layout.html' %}
{%load static%}

{%block content%}
<head>
    <link rel="stylesheet" href="{% static 'css/mypage/reviews.css' %}">
    <title>Document</title>
</head>
<div class="ant-col ant-col-20 css-t77d8m">
    <section id="user-profile">
        <h2 id="user-name">
            {{ member.nickname }}
        </h2>
        <div id="profile-image">
            {% if member_img %}
            <img src="/media/img/ddm_user.png/" alt="">
            {% else %}
            <img src="/media/{{member_img.upload_file}}/" alt="">
            {% endif %}
        </div>
    </section>
        <section id="user-filter">
            <ul>
                <li><a href="/member/mypage" class="">판매물품</a></li>
                <li><a href="/member/mypage/buyproducts" class="">구매물품</a></li>
                <li><a href="/member/mypage/reviews" class="active">거래후기</a></li>
                <li><a href="/member/mypage/wishes" class="">찜리스트</a></li>
                <li><a href="/member/mypage/qna" class="">문의내역</a></li>
                <li><a href="/member/mypage/alarm" class="">알림설정</a></li>
                <li><a href="/member/mypage/updatee" class="">개인정보수정</a></li>
            </ul>
        </section>
        <!-- 거래후기 -->
        <section id="user-records" class="user-reviews">
            <!-- 후기 없을때 -->
            <!--  -->
            {% for r in reviewList %}
                <ul id="reviews-list">
                    <li class="review">
                        {% for i in userImges %}
                            {%if r.r_receive_idx == i.member_idx %}
                                <div class="review-profile-photo">
                                    <img src="/media/{{i.upload_file}}/" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="review-writer-username">
                            <a href="">{{ r.r_receive_idx.nickname }}</a>
                        </div>
                        <div class="review-writer-region-name">
                            {{ r.r_bs_idx.title }}
                        </div>
                        <p class="review-content">{{ r.contents }}</p>
                        <title class="review-time">{{ r.upload_time | date:'Y-m-d'}}</title>
                    </li>
                </ul>
            {% empty %}
                <div id="no-records">
                    아직 등록된 후기가 없어요!
                </div>
            {% endfor %}
        </section>
        {% if reviewCheck %}
        <div style="text-align: center; margin-top: 10px;">
            {% if reviewList.has_previous %}
                <a href="/member/mypage/?page=1"><<</a>
                <a href="/member/mypage/?page={{ list.previous_page_number }}"><</a>
            {% else %}
                << <
            {% endif %}
            {% for page_number in reviewList.paginator.page_range %}
                {% if start_page <= page_number and end_page >= page_number %}
                    {% if page_number == reviewList.number %}
                        <a href="#" class="page_num">&nbsp;{{page_number}}&nbsp;</a>
                    {% else %}
                        <a href="/member/mypage/?page={{ page_number }}" class="page_num">{{page_number}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if reviewList.has_next %}
                <a href="/member/mypage/?page={{ list.next_page_number }}">></a>
                <a href="/member/mypage/?page={{last_page}}">>></a>
            {% else %}
                > >>
            {% endif %}
        </div>
        {% endif %}
    </div>
{%endblock%}